/* banner style */

.banner-item{
    display: flex;
    align-items: center;
    flex-direction: column;
}

section{
    background-image: url("assets/Hero-bg.png");
    background-position: 100%;
}

.banner-title{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 30px;
font-weight: 800;
line-height: 50px;
letter-spacing: 0%;
text-align: center;
}

.banner-description{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 10px;
font-weight: 400;
line-height: 16px;
letter-spacing: 0%;
text-align: center;
}


/* button style */

.btn{
    border-radius: 8px;

background: rgb(13, 19, 33);
color: white;
font-weight: 600;
font-size: 14px;
letter-spacing: 0%;
text-align: center;
height: 50px;
width: 180px;
border: none;
}


.learn-btn{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 12px;
font-weight: 600;
line-height: 16px;
letter-spacing: 0%;
text-align: center;
height: 32px;
width: 110px;

box-sizing: border-box;
border: 1px solid rgb(13, 19, 33);
opacity: 0.7;

}


/* main style */

.why-web{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.layer1{
    display: flex;
    justify-content: space-around;
    border-radius: 16px;

background: linear-gradient(90.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
padding: 40px;
height: 280px;
}


