/* banner style */

.banner-item{
    display: flex;
    align-items: center;
    flex-direction: column;
}

section{
    background-image: url("assets/Hero-bg.png");
    background-position: 100%;
}

.banner-title{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 30px;
font-weight: 800;
line-height: 50px;
letter-spacing: 0%;
text-align: center;
}

.banner-description{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 10px;
font-weight: 400;
line-height: 16px;
letter-spacing: 0%;
text-align: center;
}


/* button style */

.btn{
    border-radius: 8px;

background: rgb(13, 19, 33);
color: white;
font-weight: 600;
font-size: 14px;
letter-spacing: 0%;
text-align: center;
height: 50px;
width: 180px;
border: none;
}


.learn-btn{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 12px;
font-weight: 600;
line-height: 16px;
letter-spacing: 0%;
text-align: center;
height: 32px;
width: 110px;

box-sizing: border-box;
border: 1px solid rgb(13, 19, 33);
opacity: 0.7;

}


/* main style */

.why-webdevlopment{
    border-radius: 16px;

    background: rgba(13, 19, 33, 0.02);
}

.why-web{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.layer1{
    display: flex;
    justify-content: space-around;
    border-radius: 16px;

background: linear-gradient(90.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
padding: 40px;
height: 280px;
}


.inspiration{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.inspiration-video{
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.2);
    border-radius: 16px;
    padding: 25px;

}


.inspiration-my{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;

}

.inspiration-title{
    margin-bottom: 18px;
    color: rgb(13, 19, 33);
 font-family: Azeret Mono;
font-size: 26px;
font-weight: 800;
line-height: 28px;
letter-spacing: 0%;
text-align: center;
}


.language{
    display: flex;
    gap: 20px;
    justify-content: center;
}


.language-description{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.html-lan{
    border-radius: 16px;
    padding: 40px;
    background: rgba(255, 76, 30, 0.05);
}

.css-lan{
    border-radius: 16px;
    padding: 40px;
    background: rgba(0, 76, 232, 0.05);
}

.js-lan{
    border-radius: 16px;
    padding: 40px;
    background: rgba(255, 223, 0, 0.05);
}

.lan-description{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 10px;
font-weight: 400;
line-height: 18px;
letter-spacing: 0%;
text-align: start;
}

.lan-title{
    margin-top: 150px;
}

.support{
    background-image: url("assets/handshake.jpg");
    background-position: center;
    
    background-repeat: no-repeat;

    padding: 70px;
    margin: 45px 150px 50px 150px;

    border-radius: 16px;

    background: rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2);
}

.support{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.social-icon{
    display: flex;
    justify-content: space-between;
    margin: 24px 150px 24px 150px;

    border-radius: 16px;

background: rgba(13, 19, 33, 0.03);
}

.support-title{
    color: rgb(255, 255, 255);
font-family: Azeret Mono;
font-size: 24px;
font-weight: 700;
line-height: 27px;
letter-spacing: 0%;
text-align: center;
}

.text-style{
    color: rgb(255, 255, 255);
font-family: Azeret Mono;
font-size: 10px;
font-weight: 400;
line-height: 18px;
letter-spacing: 0%;
text-align: center;
}

.support-box{
    box-sizing: border-box;
border: 1px solid rgba(13, 19, 33, 0.15);
border-radius: 8px;
height: 50px;
width: 350px;
background: rgb(255, 255, 255);

color: rgba(13, 19, 33, 0.4);
font-family: Azeret Mono;
font-size: 10px;
font-weight: 400;
line-height: 12px;
letter-spacing: 0%;
text-align: start;
border: none;
}

.submit-button{
    height: 50px;
    width: 100px;
    margin: 0px 16px;
    border-radius: 8px;

    background: rgb(255, 255, 255);
    border: none;
}


.title-descriptions{
    color: rgba(13, 19, 33, 0.7);
font-family: Azeret Mono;
font-size: 18px;
font-weight: 700;
line-height: 27px;
letter-spacing: 0%;
text-align: left;
}



